<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap4.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tasarim.css') }}">

    <title>Admin Paneli</title>
</head>
<body>
  

    <div class="container">
        <br><br>
        <h3>Admin Ekle</h3>
         <hr>
         {% from "formhelpers.html" import render_field %} 
    
         <form  method="post">
                 {{ render_field(form.name,class = "form-control") }}
                 {{ render_field(form.email,class = "form-control") }}
                 {{ render_field(form.username,class = "form-control") }}                        
                 {{ render_field(form.password,class = "form-control") }}
                 {{ render_field(form.confirm,class = "form-control") }}
                 <button type="submit" class="btn btn-danger">Ekle</button>
         </form>
 
       
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>